.board-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  

  .boardThree {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5px;
    box-sizing: border-box;
  }
  
